<!DOCTYPE html>
<body>

{% load static %}

{{ card.data|json_script:"card-data" }}

<div class="card-header pb-0 text-center">
    <p id="{{ card.dom_id }}-mpccard-slot" class="mpccard-slot"></p>
    <button id="{{ card.dom_id }}-dl-button" class="dl-button">&#8595</button>
    <button id="{{ card.dom_id }}-padlock" class="padlock">&#128275</button>
    <div id="{{ card.dom_id }}-dl-loading" class="spinner-border dl-loading" role="status" style="display: none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="rounded-lg shadow-lg embed-responsive embed-responsive-7by5">
    <img id="{{ card.dom_id }}-card-img" class="embed-responsive-item card-img">
</div>
<div class="card-body mb-0 text-center">
    <h5 id="{{ card.dom_id }}-mpccard-name" class="card-subtitle mpccard-name" contentEditable="true"
        spellcheck="false" onfocus="selectElementContents(this)"></h5>
    <div class="mpccard-spacing">
        <p id="{{ card.dom_id }}-mpccard-source" class="card-text mpccard-source"></p>
        <p id="{{ card.dom_id }}-mpccard-counter" class="card-text mpccard-counter"></p>
    </div>
</div>
<button id="{{ card.dom_id }}-prev" class="prev btn btn-outline-primary">&#10094;</button>
<button id="{{ card.dom_id }}-next" class="next btn btn-outline-primary">&#10095;</button>

<script type="text/javascript">

    // instantiate a Card object for this card from django context
    // retrieve info from django context variables
    let card_data = JSON.parse(document.getElementById('card-data').textContent);
    let card_query = "{{ card.query }}";
    let dom_id = "{{ card.dom_id }}";
    let slot_id = "{{ card.slots }}";
    let face = "{{ card.face }}";
    let req_type = "{{ card.req_type }}";
    let group = parseInt("{{ card.group }}");
    let selected_img = "{{ card.selected_img }}";

    {#alert(selected_img)#}

    // instantiate a new Card
    // as soon as we instantiate a Card, it attaches itself to its corresponding element in the dom,
    // so we don't need to keep track of the object as a variable here
    let new_card = new Card(
        card_data,
        card_query,
        dom_id,
        slot_id,
        face,
        req_type,
        group,
        selected_img
    );

    // remove json element so we don't get id clashes as multiple cards are added
    document.getElementById('card-data').remove();
</script>
</body>
