{% extends 'cardpicker/base.html' %}

{% block content %}

<h1>Community Contributions</h1>

<p>This website is only possible because of the contributions of hard-working members of the
  <a href="https://www.reddit.com/r/mpcproxies/">MPC Reddit community</a>.
  <br>
  The community Google Drives hooked up to this website, and an overview of their contributions, are included below.
  <br>
  If you'd like to have your drive added to the site, shoot me a message on
  <a href="https://www.reddit.com/user/Chilli_Axe/">Reddit</a>!
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Reddit Handle</th>
    <th scope="col">Drive</th>
    <th scope="col">Contribution</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="https://www.reddit.com/user/Chilli_Axe/">u/Chilli_Axe</a></td>
    <td><a href="https://drive.google.com/open?id=1CUaOPDZM84dk85Kvp6fGrqZVPDo4jQJo">Link</a></td>
    <td>{{ chilli_count }} cards rendered at 1200 DPI in Photoshop</td>
  </tr>
  <tr>
    <td><a href="https://www.reddit.com/user/berndt_toast83">u/berndt_toast83</a></td>
    <td><a href="https://drive.google.com/open?id=13oOobsLCqbhTM-A0JeWTOT0KJ6UZiDkW">Link</a></td>
    <td>{{ scryfall_count }} Scryfall scans, processed and cleaned to be print-ready at 600 DPI</td>
  </tr>
  <tr>
    <td><a href="https://www.reddit.com/user/Bazukii/">u/Bazukii</a></td>
    <td><a href="https://drive.google.com/open?id=17whjecbdN1Z463FuEH5Lb7V28qph5pat">Link</a></td>
    <td>{{ bazuki_count }} custom cards rendered at 1200 DPI in Photoshop, in a variety of creative styles</td>
  </tr>
  <tr>
    <td><a href="https://www.reddit.com/user/nofacej/">u/nofacej</a></td>
    <td><a href="https://drive.google.com/drive/folders/1xbWFU2bXCTit1Nvij2GIuzfTUVRVtf3N">Link</a></td>
    <td>{{ nofacej_count }} custom cardbacks, in a style based on MTG Arena's wildcards</td>
  </tr>
  </tbody>
</table>

{% endblock %}