{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}

    <script src="{% static 'js/index.js' %}"></script>

    {% load crispy_forms_tags %}

    {% if mobile %}
        <div class="alert alert-primary" role="alert">
            It seems like you're on a mobile device! Please note that MPC Autofill requires a macOS or Windows computer
            to run the executable that fills your order into MPC.
        </div>
    {% endif %}
    {% comment %} <div class="alert alert-info" role="alert">
        I'm in the middle of updating the site & working through a few technical difficulties &#8212 please let me know on 
        Discord if anything breaks for you! 
    </div> {% endcomment %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-12">
            <h2>MPC Autofill <em class="orpheus" style="font-size: 1rem;">by
                <a target="_blank" href="https://www.reddit.com/user/Chilli_Axe/">u/Chilli_Axe</a></em></h2>
            <p>
                MPC Autofill automates the process of printing playtest trading cards (colloquially called "proxies")
                through <a href="https://www.makeplayingcards.com/" target="_blank">MakePlayingCards.com</a>
                with images hosted on Google Drive.
            </p>
            <p>
                Type your desired proxy list into the text box and hit <b>Submit</b>. One card per line.
                Click <b>Select Drives</b> to change which drives are searched, and the order in which cards are shown.
                Search for tokens by prepending the query with <code>t:</code>, e.g. <code>t:goblin</code>.
            </p>
            <p>
                You can upload your order as a CSV, specifying quantities and the queries for card fronts and backs.
                Download the CSV template <b><a href="{% static 'cardpicker/template.csv' %}">here</a></b>.
                Or, you can re-upload an order XML for further editing. Please note that order XML files generated
                before January 2021 cannot be re-uploaded.
            </p>
            <p>
                Are you seeing all this for the first time, or you're not quite sure what to do? Check out the Guide!
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-md-12"> {# style="padding-bottom: 30px" #}
            <form method="post" action="{% url 'review' %}" id="cardinput" style="display: inline; height: 100%;">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div style="text-align: center">
                <a class="btn btn-block btn-info mt-2" style="border-radius: 200px" href="/guide">Guide</a>
            </div>
        </div>
        <div class="col-lg-6">
            <input form="cardinput" type="submit" class="btn btn-success mt-2" value="Submit">

            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#selectDrivesModal">
                Select Drives
            </button>

            <button type="button" class="btn btn-secondary dropdown-toggle mt-2" id="uploadCardsBtn"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Upload List
            </button>
            <div class="dropdown-menu" aria-labelledby="uploadCardsBtn">
                {# csv upload form #}
                <form method="post" action="{% url 'input_csv' %}" id="input_csv" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="dropdown-item" onchange="$('#input_csv').submit()">
                        CSV File<input type="file" accept=".csv" hidden name="file" id="csvfile">
                    </label>
                </form>

                {# xml upload form #}
                <form method="post" action="{% url 'input_xml' %}" id="input_xml" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="dropdown-item" onchange="$('#input_xml').submit()">
                        XML Order<input type="file" accept=".xml" hidden name="file" id="xmlfile">
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="selectDrivesModal" tabindex="-1" role="dialog" aria-labelledby="selectDrivesLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectDrivesLabel">Select Drives</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select the drives you'd like to search, and drag & drop them to change the order images are shown in.
                    Check the <a href='/credits'>Credits</a> for an overview of what each drive contains.
                    <br>
                    Click the table header to enable or disable all drives. 
                    <br><br>
                    <table class="table table-hover" id="drivePicker">
                        <thead>
                        <tr onclick="toggleCheckboxes()" style="cursor: pointer; user-select: none;">
                            <th scope="col" class="text-center">Enabled</th>
                            <th scope="col">Content Creator</th>
                            <th scope="col" class="text-center">Drive Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sourcename,sourceinfo in sources.items %}
                            <tr style="cursor: grab">
                                <td>
                                    <div class="active text-center">
                                        <input class="form-check-input drivesource" type="checkbox" value=""
                                               id={{ sourcename }} checked="checked" style="transform: scale(1.5)">
                                    </div>
                                </td>
                                <td><a target="_blank" href={{ sourceinfo.reddit }}>{{ sourceinfo.username }}</a></td>
                                <td class="text-center"><a target="_blank" href={{ sourceinfo.drivelink }}>Link</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $('tbody').sortable();
                        $('tbody').disableSelection();
                    </script>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <a href="legal">MPC Autofill Legal Disclaimer</a>
        </div>
    </footer>

{% endblock %}
