{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}

    {% load crispy_forms_tags %}

    {% if mobile %}
        <div class="alert alert-primary" role="alert">
            It seems like you're on a mobile device! Please note that MPC Autofill requires a macOS or Windows computer
            to run the executable that fills your order into MPC.
        </div>
    {% endif %}
    <div class="alert alert-secondary" role="alert">
        You might notice image thumbnails loading in a bit more slowly than usual. 
        <a href="https://mpcautofill.com/static/cardpicker/awscosts.png">My AWS costs have been through the roof recently 
        ($150 USD last month)</a>, so for the time being, I'm switching from storing thumbnails on the server to sourcing 
        them from Google Drive. I'm working on a solution to restore the site to its previous speed. Thank you for bearing 
        with me! <3 
    </div>

    <!-- <div class="alert alert-danger" role="alert"></div>
        I'm in the middle of updating the site & working through a few technical difficulties - please stand by! <3 
    </div> -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-12">
            <h2>MPC Autofill <em class="orpheus" style="font-size: 1rem;">by
                <a target="_blank" href="https://www.reddit.com/user/Chilli_Axe/">u/Chilli_Axe</a></em> </h2>
            <p>
                Welcome to MPC Autofill!
            </p>
            <p>
                This website automates the process of searching Google Drives to produce proxy cards with
                <a href="https://www.makeplayingcards.com/" target="_blank">MakePlayingCards.com</a>.
            </p>
            <p>
                Type your desired proxy list into the text box and hit <b>Submit</b>. One card per line.
                Click <b>Select Drives</b> to change which drives are searched, and the order in which cards are shown.
            </p>
            <p>
                Try uploading a CSV of your proxy list! This lets you specify exactly which images should be on the fronts
                and backs of each individual card. Download the CSV template
                <b><a href="{% static 'cardpicker/template.csv' %}">here</a></b>.
            </p>
            <p>
                Are you seeing all this for the first time, or you're not quite sure what to do? Check out the Guide!
            </p>
            <div style="text-align: center">
                <a class="btn btn-block btn-info" style="border-radius: 200px" href="/guide">Guide</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-md-12" style="padding-top: 3px">
            <form method="post" action="{% url 'review' %}" id="cardinput" style="display: inline">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectDrivesModal">
                Select Drives
            </button>
            <form method="post" action="{% url 'csvupload' %}" id="csvuploadform"
                  enctype="multipart/form-data" style="display: inline">
                {% csrf_token %}
                <label class="btn btn-outline-success" onchange="$('#csvuploadform').submit()" style="margin-top: 8px">
                    Upload CSV<input type="file" accept=".csv" hidden name="file" id="file">
                </label>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $('#cardinput, #csvuploadform').submit(function (eventObj) {
            // user is submitting card input form - grab the order of selected drives and attach it to the form as a
            // hidden input
            let input = $("<input>", {type: "hidden", name: "drive_order", value: driveOrder()});
            $(this).append(input)
            return true;
        });

        function driveOrder() {
            // get checkbox elements from dom, in order
            let driveElements = document.getElementsByClassName("drivesource");
            let drives = []
            // for each drive, if it's enabled, add its id to the output list
            for (let i = 0; i < driveElements.length; i++) {
                if (driveElements[i].checked) {
                    drives.push(driveElements[i].id)
                }
            }
            // convert to string when outputting
            return drives.toString();
        }

        function toggleCheckboxes() {
            // get checkbox elements from dom, in order
            let driveElements = document.getElementsByClassName("drivesource");
            var enableDrives = true;
            // for each drive, check if it's enabled, and if it is, we'll be disabling drives here
            for (let i = 0; i < driveElements.length; i++) {
                if (driveElements[i].checked) {
                    enableDrives = false;
                    break;
                }
            }
            // for each drive, set its checkedness
            for (let i = 0; i < driveElements.length; i++) {
                driveElements[i].checked = enableDrives;
            }
        }
    </script>

    <div class="modal fade" id="selectDrivesModal" tabindex="-1" role="dialog" aria-labelledby="selectDrivesLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectDrivesLabel">Select Drives</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select the drives you'd like to search, and drag & drop them to change the order cards are shown in.
                    Check the <a href='/credits'>Credits</a> for an overview of what each drive contains. 
                    <br>
                    Click the table header to enable or disable all drives.
                    <br><br>
                    <table class="table table-hover" id="drivePicker">
                        <thead>
                        <tr onclick="toggleCheckboxes()" style="cursor: pointer; user-select: none;">
                            <th scope="col" class="text-center">Enabled</th>
                            <th scope="col">Content Creator</th>
                            <th scope="col" class="text-center">Drive Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sourcename,sourceinfo in sources.items %}
                            <tr style="cursor: grab">
                                <td>
                                    <div class="active" style="text-align:center;">
                                        <input class="form-check-input drivesource" type="checkbox" value=""
                                               id={{ sourcename }} checked="checked">
                                    </div>
                                </td>
                                <td><a target="_blank" href={{ sourceinfo.reddit }}>{{ sourceinfo.username }}</a></td>
                                <td class="text-center"><a target="_blank" href={{ sourceinfo.drivelink }}>Link</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $('tbody').sortable();
                        $('tbody').disableSelection();
                    </script>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
