{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="{% static 'js/index.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    {% load crispy_forms_tags %}

    {# code to run on page load #}
    <script type="text/javascript">
        document.getElementById("id_body").onload = function () {
            base_on_load(exception);
            index_on_load();
        }
    </script>

    {% if mobile %}
    <div class="alert alert-primary" role="alert">
        It seems like you're on a mobile device! Please note that MPC Autofill requires a macOS or Windows computer
        to run the executable that fills your order into MPC.
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-12">
            <h2>MPC Autofill <em class="orpheus" style="font-size: 1rem;">by
                <a target="_blank" href="https://www.reddit.com/user/Chilli_Axe/">u/Chilli_Axe</a></em></h2>
            <p>
                MPC Autofill automates the process of printing cards through
                <a href="https://www.makeplayingcards.com/" target="_blank">MakePlayingCards.com</a>
                with images hosted on public Google Drives.
            </p>
            <p>
                Type your desired card list into the text box and hit <b>Submit</b>. One card per line.
                Click <b>Search Settings</b> to change which drives are searched, and the order in which cards are shown.
                You can also toggle between fuzzy (forgiving) and precise (exact) search modes.
            </p>
            <p>
                <b>Search for tokens</b> by prepending the query with <code>t:</code> &#8212 for example,
                <code>t:goblin</code>.
            </p>
            <p>
                You can upload your order as a CSV, specifying quantities and the queries for card fronts and backs.
                Download the CSV template <b><a href="{% static 'cardpicker/template.csv' %}">here</a></b>.
                Or, you can re-upload an order XML for further editing.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-md-12"> {# style="padding-bottom: 30px" #}
            <form method="post" action="{% url 'review' %}" id="cardinput" style="display: inline; height: 100%;">
                {% csrf_token %}
                {{ input_text_form|crispy }}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div style="text-align: center">
                <a class="btn w-100 btn-info mt-2" style="border-radius: 200px" href="/guide">Guide</a>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
            <button type="button" class="btn btn-light dropdown-toggle mt-2 ms-2" id="uploadCardsBtn"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Upload List
            </button>
            <div class="dropdown-menu" aria-labelledby="uploadCardsBtn">
                {# csv upload form #}
                <form method="post" action="{% url 'input_csv' %}" id="input_csv" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="dropdown-item" onchange="$('#input_csv').submit()">
                        CSV File<input type="file" accept=".csv" hidden name="file" id="csvfile">
                    </label>
                </form>

                {# xml upload form #}
                <form method="post" action="{% url 'input_xml' %}" id="input_xml" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="dropdown-item" onchange="$('#input_xml').submit()">
                        XML Order<input type="file" accept=".xml" hidden name="file" id="xmlfile">
                    </label>
                </form>

                {# decklist import form #}
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#inputLinkModal">
                    From URL
                </button>
            </div>

            <button type="button" class="btn btn-primary mt-2 ms-2" data-bs-toggle="modal" data-bs-target="#selectDrivesModal">
                Search Settings
            </button>

            <input form="cardinput" type="submit" class="btn btn-success mt-2 ms-2" value="Submit">
        </div>
    </div>

<!--    {# blog post carousel #}-->
<!--    <hr>-->
<!--    <a href="/blog"><h2>Blog Feed</h2></a>-->
<!--    {% if posts|length > 0 %}-->
<!--        <div class="card-group" id="blogs">-->
<!--            {% for post in posts %}-->
<!--                <div class="mx-1">-->
<!--                    {% include "blog/synopsis.html" %}-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    {% else %}-->
<!--        <p class="text-center"><i>No blog posts in the last two weeks :(</i></p>-->
<!--    {% endif %}-->

    {# import list modal #}
    <div class="modal fade" id="inputLinkModal" tabindex="-1" role="dialog" aria-labelledby="inputLinkLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inputLinkLabel">Import List from URL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Paste a link to a card list hosted on one of the below sites (not affiliated) to import into MPC Autofill:
                    <ul>
                        {% for import_site in import_sites %}
                            <li><a href="{{ import_site.1|safe }}" target="_blank">{{ import_site.0|safe }}</a></li>
                        {% endfor %}
                    </ul>

                    <form method="post" action="{% url 'input_link' %}" id="input_link" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ input_link_form|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#input_link').submit()" data-bs-dismiss="modal">Import</button>
                </div>
            </div>
        </div>
    </div>

    {# search settings modal #}
    <div class="modal fade" id="selectDrivesModal" tabindex="-1" role="dialog" aria-labelledby="selectDrivesLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectDrivesLabel">Search Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Select the drives you'd like to search, and drag & drop them to change the order images are shown in.
                    Check the <a target="_blank" href='/credits'>Credits</a> for an overview of what each drive contains.
                    <br>
                    Click the table header to enable or disable all drives.
                    <br><br>
                    <input type="checkbox" id="searchtype" data-toggle="toggle" data-on="Fuzzy Search" data-off="Precise Search"
                        data-onstyle="success" data-offstyle="info" data-width="100%" data-height="40px" data-size="md">
                    <br><br>
                    <table class="table table-hover" id="drivePicker">
                        <thead>
                        <tr onclick="toggle_checkboxes()" style="cursor: pointer; user-select: none;">
                            <th scope="col" class="text-center">Enabled</th>
                            <th scope="col">Content Creator</th>
                            <th scope="col" class="text-center">Drive Link</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for source in sources %}
                            <tr id="{{ source.id }}-row" style="cursor: grab">
                                <td style="vertical-align: middle">
                                    <div class="active text-center">
                                        <input type="checkbox" class="drivesource" checked
                                                data-bs-toggle="toggle" id="{{ source.id }}" data-bs-size="sm">
                                    </div>
                                </td>
                                <td style="vertical-align: middle"><p>{{ source.id }}</p></td>
                                <td style="vertical-align: middle">
                                    <div class="active text-center">
                                    {% if source.drive_link %}
                                    <a target="_blank" href="{{ source.drive_link }}">Link</a>
                                    {% else %}
                                    Private
                                    {% endif %}
                                    </div>
                                </td>
                                <td style="vertical-align: middle"><i class="bi bi-grip-horizontal" style="font-size: 2em"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $('tbody').sortable();
                        $('tbody').disableSelection();
                    </script>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    {% include "cardpicker/footer.html" %}

{% endblock %}
