{% extends 'cardpicker/base.html' %}

{% block content %}

    <h2>Legal</h2>

    <p>MPC Autofill is unofficial Fan Content permitted under the Fan Content Policy.
        Not approved/endorsed by Wizards.
        Portions of the materials used are property of Wizards of the Coast.
        <a href="https://company.wizards.com/">©Wizards of the Coast LLC.</a></p>

    <p>Custom card images displayed in MPC Autofill are subject to the license terms under which they were uploaded to
        their hosts (Google Drive). MPC Autofill is not responsible for the content of user-uploaded images.</p>

    <p>MPC Autofill does not condone or support the resale (or other commercial use) of cards printed with this website
        in any way.
        As per <a href="https://www.makeplayingcards.com/">MakePlayingCards.com</a>'s user agreement, users acknowledge
        that they
        <i>"...own all copyrights for [card images used in orders] or have full authorization to use them."</i></p>

    <p>MPC Autofill is not affiliated with, produced by, or endorsed by
        <a href="https://www.makeplayingcards.com/">MakePlayingCards.com</a> or
        <a href="https://scryfall.com/">Scryfall</a>.</p>
{% endblock %}
