{% extends 'cardpicker/base.html' %}

{% block title %} MPC Autofill Privacy Policy {% endblock %}

{% block content %}
    <h2>Privacy Policy</h2>

    <b>Last updated: 21st June, 2021</b>
    <p>
    MPC Autofill collects site usage data through Google Analytics via cookies. Understanding how users interact 
    with the site allows me to continue to improve the site to the best of my ability. Users are presented with the 
    option to opt-out of having their data collected by Google Analytics.
    </p>
    <p>
    We also use cookies to remember your search settings &#8212 which drives you have enabled or disabled, their 
    ordering, and the search mode you selected (precise or fuzzy) &#8212 which is considered core site functionality.
    </p>
    <p>
    MPC Autofill will never share information collected by Google Analytics with third parties. 
    </p>
    <p>
    Information collected by Google Analytics includes the following items. <b>Note</b>: this is not an exhaustive list, but captures my 
    motivation for implementing Google Analytics:
    </p>
    <ul>
        <li> Data on how many users interact with the site (real-time and historical), </li>
        <li> Statistics on how users interact with the site &#8212 session duration, bounce rate, pageviews, pages per 
        session, sessions per user, </li>
        <li> How users discover the site &#8212 organic search (including search keywords), direct by URL, referral, etc., </li>
        <li> Audience demographics &#8212 the countries and cities my users hail from, and the languages they speak, </li>
        <li> The platforms/technology through which users interact with the site, </li>
        <li> Average site usage across times of day and days of the week, allowing me to schedule site maintenance more effectively. </li>
    </ul>
    <p>
    MPC Autofill's usage of Google Analytics does not include the usage of Google Adwords or other advertising features.
    </p>
    <p>
    You can find more information on Google's privacy policy 
    <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">here</a>. 
    Google also provides a browser extension to disable Google Analytics, which you can find 
    <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">here</a>. 
    </p>

    If you have any questions about this Privacy Policy, you can contact me by email: mpcautofill@gmail.com

    {% include "cardpicker/footer.html" %}
{% endblock %}
