{% extends 'cardpicker/base.html' %}

{% block content %}

  <h1>Legal</h1>

  <p>MPC Autofill is unofficial Fan Content permitted under the Fan Content Policy.
    Not approved/endorsed by Wizards.
    Portions of the materials used are property of Wizards of the Coast.
    <a href="https://company.wizards.com/">©Wizards of the Coast LLC.</a></p>

  <p>Custom card images displayed in MPC Autofill are subject to the license terms under which they were uploaded to
    their hosts (Google Drive). MPC Autofill is not responsible for the content of custom card images.</p>

  <p>MPC Autofill is not affiliated with, produced by, or endorsed by
    <a href="https://www.makeplayingcards.com/">MakePlayingCards.com</a> or
    <a href="https://scryfall.com/">Scryfall</a>.</p>
{% endblock %}