{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}

    <script src="{% static 'js/review.js' %}?22"></script>
    <script src="{% static 'js/card.js' %}?22"></script>
    <script src="{% static 'js/search.js' %}?22"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    {% load crispy_forms_tags %}

    {# toast to alert the user that they've hit MPC's deck size cap #}
    <div aria-live="polite" aria-atomic="true" data-autohide="false">
        <div id="maxCardsToast" class="toast" style="position: fixed; right: 0; z-index: 0;" data-delay="5000">
            <div class="toast-header">
                <strong class="mr-auto">Order Size Limit</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                You have reached the maximum deck size MPC offers at 612 cards. 
                If you'd like to purchase more cards, you'll need to create a second order.
            </div>
        </div>
    </div>

    {# code to run on page load #}
    <script type="text/javascript">
        let groups = {};
        let max_group = 2;
        let drive_order = {{ drive_order|safe }}.toString();
        let fuzzy_search = {{ fuzzy_search|safe }}.toString() === "true";
        let qty = {{ qty }};
        let front_visible = true;
        let cards_not_found = [];

        document.getElementById("id_body").onload = function () {
            $('#maxCardsToast').on('hide.bs.toast', function () {this.style.zIndex = "0";});
            $('#maxCardsToast').on('show.bs.toast', function () {this.style.zIndex = "99999";});
            let order = {{ order|safe }};
            set_cardstock(order);
            insert_data(drive_order, fuzzy_search, order);
        }
        // enable tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <div class="row">
        {# left panel #}
        <div class="col-lg-8 col-md-8 col-sm-6 col-6">
            <div id="card-container" class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1"></div>
        </div>

        {# right panel #}
        <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="z-index: 1;">
            <div class="sticky-top sticky-offset">
                <h2>Review Your Order</h2>
                {# info on order size and mpc bracket #}
                <p style="font-size: 1rem">Your order has a total of <b id="order_qty"></b> cards,
                    <br>
                    in the MPC bracket of up to <b id="order_bracket"></b> cards.
                    <br>
                    On smaller screens, you may need to scroll down on this panel to generate your order.
                </p>
                
                <div class="row no-gutters">
                    {# button to toggle between fronts and backs of cards #}
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-primary btn-block" id="switchFacesBtn"
                                onclick="switch_faces()">
                            Switch to Backs
                        </button>
                    </div>

                    {# insert cards dropdown #}
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 dropdown">
                        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" id="addCardsBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add Cards
                        </button>
                        <div class="dropdown-menu" aria-labelledby="addCardsBtn">
                            <a class="dropdown-item" data-toggle="modal" data-target="#textModal"
                               onclick="clearText();">
                                Text Input
                            </a>
                            {# TODO: fix for safari #}
                            <label class="dropdown-item" onchange="insert_xml()">
                                XML Order<input type="file" accept=".xml" hidden name="file" id="xmlfile">
                            </label>
                        </div>
                    </div>
                </div>

                {# foil selector #}
                <input type="checkbox" id="cardstock-foil" data-toggle="toggle" data-on="Foil (Fronts Only)" data-off="Non-Foil" 
                        data-onstyle="success" data-offstyle="info" data-width="100%" data-height="40px" data-size="md">

                {# dropdown to select cardstock #}
                <div class="form-group">
                    <select class="custom-select" id="cardstock-dropdown">
                        <option selected="selected">(S30) Standard Smooth</option>
                        <option>(S33) Superior Smooth</option>
                        <option>(M31) Linen</option>
                        <option>(P10) Plastic</option>
                    </select>
                </div>

                {# common cardback #}
                <div class="row no-gutters" id="cardback-row">
                    <div id="cardback-container" class="col-lg-8 offset-lg-2 col-md-12"></div>
                </div>

                {# download images, generate order, and what's next buttons #}
                <div class="row no-gutters">
                    <button type="button" class="btn btn-success btn-block" onclick="download_all();" data-toggle="tooltip"
                        data-placement="top" title="Popups need to be enabled for this to function properly. Beware &#8212 this can open lots of tabs!">
                        Download All Images
                    </button>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                onclick="generate_xml();" data-target="#donationModal">
                            Generate Order
                        </button>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <a href="/guide" target="_blank" class="btn btn-info btn-block" role="button">
                            What's Next?
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {# card text input modal #}
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Insert Cards</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" onsubmit="return insert_text();" id="insert_text" style="display: inline">
                    <div class="modal-body">
                        <p>Type the names of the cards you'd like to add to your order and hit <b>Submit</b>. One card
                            per line.</p>
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# loading modal #}
    <div class="modal fade" id="loadModal" data-backdrop="static" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                        <h5 class="modal-title w-100" id="exampleModalLongTitle">Loading your cards...</h5>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-border" style="width: 4em; height: 4em;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# donation modal #}
    <div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="donationLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="donationLabel">Order Generated</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your order document is downloading now! Head over to the
                        <a href='/guide' target="_blank">Guide</a> for instructions on what to do next.</p>

                    <h5>While You're Here...</h5>
                    <p>
                        I'd like to ask a favour.
                    </p>
                    <p>
                        I discovered MPC a few years ago when I was looking into how to proxy cards for my cube, but I
                        wasn't satisfied with any print-ready images available at the time. Since then, my hobby has
                        been working to provide the absolute highest-quality MPC-ready images that I can to the
                        community. My drive has {{ my_cards }}+ images, each rendered with Photoshop templates and
                        tools I built from scratch.
                    </p>
                    <p>
                        However, in line with Wizards of the Coast's Fan Content Policy, I can't charge anything for
                        access to the work I produce. The costs associated with maintaining and improving MPC Autofill
                        are coming out of my pocket; I'm a one-man operation.
                    </p>
                    <p>
                        That's why I'm humbly asking that if you found this website and/or my images helpful, please
                        consider dropping a few dollars into the tip jar below. It'd mean a lot to me. <3
                    </p>
                    <div style="text-align: center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="donationOptions">
                            <label class="btn btn-outline-primary active">
                                <input type="radio" name="donationOption" id="donate1" autocomplete="off">Donate $1
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="donationOption" id="donate5" autocomplete="off" checked>Donate
                                $5
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="donationOption" id="donate15" autocomplete="off">Donate $15
                            </label>
                        </div>
                    </div>
                    <br>
                    {% with 'cardpicker/paypal.svg' as paypal_img %}
                        <button class="btn-block btn-primary paypal-donate-btn" onclick="redirectPaypal()">
                            <img src="{% static paypal_img %}" style="padding: 6px 6px">
                        </button>
                    {% endwith %}
                    <script type="text/javascript">
                        function redirectPaypal(obj) {
                            let donationAmount = document.querySelector('input[name="donationOption"]:checked').id.slice(6);
                            window.open("https://www.paypal.com/paypalme/chilliaxe/" + donationAmount + "usd", "_blank")
                        }
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>

    {# missing card versions modal #}
    <div class="modal fade" id="missingCardsModal" tabindex="-1" role="dialog" aria-labelledby="missingCardsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="missingCardsModalLabel">Missing Card Versions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    Some card versions you specified couldn't be found. Sorry about that!
                    <br>
                    This typically happens when the creator of the image removed it from their Drive
                        (even if they reuploaded it later).
                    <br>
                    The versions we couldn't find are tabulated below for your reference. The cards in 
                    these slots have reverted to the first versions we found when searching the database.
                    </p>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Drive ID</th>
                            <th scope="col">Slot</th>
                            <th scope="col">Search Query</th>
                        </tr>
                        </thead>
                        <tbody id="missingCardsTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# remove card confirmation modal #}
    <div class="modal fade" id="removeCardModal" tabindex="-1" role="dialog" aria-labelledby="removeCardModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeCardModalLabel">Remove Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you'd like to remove this card?
                    <br>
                    Slot <b id="removeCardId"></b>: <i id="removeCardName"></i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="remove_card();">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {# card selection grid modal #}
    <div class="modal fade" id="gridSelectModal" tabindex="-1" role="dialog" aria-labelledby="gridSelectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="gridSelectModalLabel" class="modal-title">Select Version</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="grid-container" class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-2"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% include "cardpicker/card.html" %}

{% endblock %}


