attrs==20.3.0
altgraph==0.17
asgiref==3.3.4
black==21.5b1
blessed==1.19.1
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.13
django-bulk-sync==3.2.0
django-crispy-forms==1.11.2
django-elasticsearch-dsl==7.2.0
django-environ==0.4.5
django-user-agents==0.4.0
elasticsearch==7.13.0
elasticsearch-dsl==7.3.0
enlighten==1.10.1
google-api-core==1.26.3
google-api-python-client==2.4.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
inquirer==2.7.0
isort==5.8.0
macholib==1.14
Markdown==3.3.4
mypy==0.812
mypy-extensions==0.4.3
numpy==1.21.0
oauth2client==4.1.3
oauthlib==3.1.0
oauth2client==4.1.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
protobuf==3.17.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.1
inquirerpy==0.3.3
pyparsing==2.4.7
python-Levenshtein==0.12.2
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
selenium==3.141.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.26.5
user-agents==2.2.0
webdriver-manager==3.4.1
zipp==3.4.1
psycopg2-binary==2.9.1
enquiries==0.1.0
