.rounded-lg {
  border-radius: 0.5rem !important;
}

.rounded-xl {
  border-radius: 1.1rem !important;
}

.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4) !important;
}

.next {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 38px;
}

.prev {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 38px;
}

.card-img-top {
  object-fit: cover;
}

.mpccard-highlight {
  z-index: 11;
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.6);
}

.mpccard-hover {
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
}

.mpccard-hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
  transition: opacity 0.2s ease-in-out;
}

.mpccard-hover:hover {
  z-index: 10;
}

.mpccard-hover:hover::after {
  opacity: 1;
}

.mpccard-source {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-style: italic;
  height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: orpheuspro, serif;
}

.mpccard-name {
  font-size: 1rem;
  line-height: 1rem;
  height: 2.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*outline: 1px solid navy;*/
}

.mpccard-counter,
.mpccard-counter-btn {
  font-size: 0.85rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 45%;
}

.mpccard-counter-btn {
  height: 38px;
}

.card-select {
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 1.3em;
}

.remove {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 1.3em;
}

.mpccard-spacing {
  padding-top: 10px;
}

.mpccard-slot {
  font-style: italic;
}

.orpheus {
  font-family: orpheuspro, serif;
}

.card-img-fade-in {
  transition: opacity 0.3s;
}

.card-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ratio-7x5 {
  padding-bottom: 139.6825%;
  overflow: hidden;
}

.ratio-7x5 > img {
  transform: scale(1.088, 1.065);
}

.toggle-handle {
  background-color: white !important;
}

.flex-centre {
  justify-content: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate-neg90 {
  transform: rotate(0deg);
}
