attrs~=23.1.0
click==8.0.4
colorama~=0.4.6
coverage~=7.2.7
defusedxml~=0.7.1
enlighten~=1.11.2
fpdf2~=2.7.4
InquirerPy~=0.3.4
pillow==10.2.0
pre-commit
pyinstaller~=5.13.0
pytest~=7.3
pytest-retry~=1.5
ratelimit~=2.2.1
requests~=2.31.0
sanitize-filename~=1.2.0
selenium~=4.14.0
wakepy==0.6.0
