{% extends 'cardpicker/base.html' %}
{% load static %}

{% block title %}MPC Autofill Blogs{% endblock %}

{% block content %}

{% for blog in blogs %}
    <div class="jumbotron">
        <h1 class="display-4" style="font-size: 3em">{{ blog.name }} Blog</h1>
        <p class="lead"><i>Showing up to the most recent 4 posts.</i></p>
        <hr class="my-4">
        <div class="card-columns"> <!-- TODO: replace with Mason -->
            {% if blog.posts|length > 0 %}
                {% for post in blog.posts %}
                    {% include "blog/synopsis.html" %}
                {% endfor %}
            {% else %}
                <p class="text-center"><i>No blog posts :(</i></p>
            {% endif %}
        </div>
        <a class="btn btn-primary btn-lg" href="{{ blog.url }}" role="button">{{ blog.name }} Blog</a>
    </div>
    <hr>
{% endfor %}

{% include "cardpicker/footer.html" %}
{% endblock %}
