{% extends 'cardpicker/base.html' %}
{% load static %}
{% block title %}{{ post.name }}{% endblock %}
{% block description %}<meta name="description" content="MPC Autofill blog — {{ post.synopsis }}">{% endblock %}
{% block content %}
    <div class="jumbotron">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="font-size: 1.3em;">
                    <a href="/blog">Blogs</a>
                </li>
                <li class="breadcrumb-item" style="font-size: 1.3em;">
                    <a href="{{ post.blog.url }}">{{ post.blog.name }}</a>
                </li>
                <li class="breadcrumb-item active"
                    aria-current="page"
                    style="font-size: 1.3em;">{{ post.name }}</li>
            </ol>
        </nav>
        <h1 class="display-4" style="font-size: 3em">{{ post.name }}</h1>
        <p class="lead">
            Posted in <i>{{ post.blog.name }}</i> on {{ post.date_created }}
        </p>
        <hr class="my-4">
        <div style="font-size: 1.15em;">{{ post.contents | safe }}</div>
        <a class="btn btn-primary btn-lg"
           href="{{ post.blog.url }}"
           role="button">Back to {{ post.blog.name }}</a>
    </div>
    {% include "cardpicker/footer.html" %}
{% endblock %}
