{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}

<!--<nav>-->
<!--        <ol class="breadcrumb">-->
<!--    <li class="breadcrumb-item" style="font-size: 1.15em;"><a href="#">Home</a></li>-->
<!--    <li class="breadcrumb-item" style="font-size: 1.15em;"><a href="#">Library</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page" style="font-size: 1.15em;">Data</li>-->
<!--  </ol>-->
<!--</nav>-->
    <div class="jumbotron">

        <h1 class="display-4" style="font-size: 3em">{{ post.name }}</h1>
        <p class="lead">Posted in <i>{{ post.blog.name }}</i> on {{ post.date_created }}</p>

        <hr class="my-4">
        <div style="font-size: 1.15em;">
            {{ post.contents | safe }}
        </div>
        <a class="btn btn-primary btn-lg" href="/blog/{{ post.blog.url }}" role="button">Back to {{ post.blog.name }}</a>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <a href="legal">MPC Autofill Legal Disclaimer and Privacy Policy</a>
        </div>
    </footer>
{% endblock %}