{% extends 'cardpicker/base.html' %}
{% load static %}

{% block title %}{{ blog.name }} Blog{% endblock %}

{% block content %}
    <div class="jumbotron">
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 1.3em;"><a href="/blog">Blogs</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size: 1.3em;">{{ blog.name }}</li>
        </ol>
        </nav>

        <h1 class="display-4" style="font-size: 3em">{{ blog.name }} Blog</h1>
        <hr class="my-4">
        <div class="card-columns"> <!-- TODO: replace with Mason -->
            {% if posts|length > 0 %}
                {% for post in posts %}
                    {% include "blog/synopsis.html" %}
                {% endfor %}
            {% else %}
                <p class="text-center"><i>No blog posts :(</i></p>
            {% endif %}
        </div>
    </div>

    {% include "cardpicker/footer.html" %}
{% endblock %}
