{% extends 'cardpicker/base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/card.js' %}"></script>

    <script type="text/javascript">
        document.getElementById("id_body").onload = function () {
            base_on_load(exception);
            let cards = {{ post.cards|safe }};
            for (let i=0; i<cards.length; i++) {
                build_blog_card("card-container", cards[i]);
            }
        }
    </script>

    <div class="jumbotron">

        <h1 class="display-4" style="font-size: 3em">{{ post.name }}</h1>
        <p class="lead">Posted in <i>{{ post.blog.name }}</i> on {{ post.date_created }}</p>

        <hr class="my-4">
        <div style="font-size: 1.15em;">
            {{ post.contents | safe }}
        </div>
        <div id="card-container" class="row row-cols-xl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2"></div>
        <br>
        <a class="btn btn-primary btn-lg" href="/blog/{{ post.blog.url }}" role="button">Back to {{ post.blog.name }}</a>
    </div>

    {% include "cardpicker/card.html" %}

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <a href="legal">MPC Autofill Legal Disclaimer and Privacy Policy</a>
        </div>
    </footer>
{% endblock %}