{% extends 'cardpicker/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2>Sign Up</h2>
    <p>Signing up for a {{ SITE_NAME }} lets create, edit, export, and share your projects from any computer!</p>
    <p>Having an account will always be completely optional.</p>
    <div class="container" style="max-width: 576px;">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-outline mb-4"
                 data-bs-html="true"
                 data-bs-toggle="tooltip"
                 data-bs-placement="left"
                 title="{{ form.username.help_text }}">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control" }}
            </div>
            <div class="form-outline mb-4"
                 data-bs-html="true"
                 data-bs-toggle="tooltip"
                 data-bs-placement="left"
                 title="{{ form.email.help_text }}">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-outline mb-4"
                         data-bs-html="true"
                         data-bs-toggle="tooltip"
                         data-bs-placement="left"
                         title="{{ form.password1.help_text }}">
                        {{ form.password1.label_tag }}
                        {{ form.password1|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-outline mb-4"
                         data-bs-html="true"
                         data-bs-toggle="tooltip"
                         data-bs-placement="left"
                         title="{{ form.password2.help_text }}">
                        {{ form.password2.label_tag }}
                        {{ form.password2|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <input class="btn btn-primary mb-4" type="submit" value="Sign Up">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
            <div class="text-center">
                <p>
                    Already have an account? <a href="{% url 'login' %}">Log in here!</a>
                </p>
            </div>
        </form>
    </div>
    {% include "cardpicker/footer.html" %}
{% endblock %}
