# This docker compose file spins up the database services required by the MPC Autofill backend.
# It's separated from the docker compose file which spins up the backend itself to enable
# local development through a Python virtual environment running natively on the dev machine.

version: "3.4"

services:
  # Postgres database for Django
  postgres:
    image: postgres:13.0-alpine
    container_name: mpcautofill_postgres
    expose:
      - 5432
    environment:
      - POSTGRES_DB=mpcautofill
      - POSTGRES_USER=mpcautofill
      - POSTGRES_PASSWORD=mpcautofill
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Elasticsearch used by MPCAutofill
  elasticsearch:
    image: elasticsearch:7.14.1
    container_name: mpcautofill_elasticsearch
    network_mode: host
    expose:
      - 9200
    environment:
      - discovery.type=single-node
      - logger.level=WARN
    volumes:
      - elaticsearch_data:/usr/share/elasticsearch/data

# Persistent storage for containers
volumes:
  postgres_data:
  elaticsearch_data:
