.rounded-lg {
  border-radius: 0.45rem !important;
}

.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4) !important;
}

.next {
  position:absolute;
  bottom:10px;
  right:10px;
}

.prev {
  position:absolute;
  bottom:10px;
  left:10px;
}

.sticky-offset {
  top: 56px;
}

.asteriskField {
    display: none;
}

.addmargin {
  margin-top: 56px;
}

#drivePicker:hover {
  cursor: move;
}

.card-img-top {
    object-fit: cover;
}

/* .mpccard {
  transition: transform .2s;
}

.mpccard-hover:hover {
  transform: scale(1.2);
  z-index:999999999;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.9) !important;
} */

.mpccard-hover {
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
}

.mpccard-hover::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
  transition: opacity 0.2s ease-in-out;
}

.card-img:hover {
  cursor: pointer;
}

.mpccard-hover:hover {
  z-index: 10;
}

.mpccard-hover:hover::after {
  opacity: 1;
}


.mpccard-source {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-style: italic;
  height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: orpheuspro, serif;
}

.mpccard-name {
  font-size: 1rem;
  line-height: 1rem;
  height: 2.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  caret-color: transparent;
  /*outline: 1px solid navy;*/
}

.mpccard-counter, .mpccard-counter-btn {
  font-size: 0.85rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 45%;
}

.padlock {
  position:absolute;
  top:10px;
  left:5px;
  background-color:transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 1.3em; 
}

.remove {
  position:absolute;
  top:10px;
  right:5px;
  background-color:transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 1.3em; 
}

.dl-loading {
  position:absolute;
  top:15px;
  left:10px;
}

.padlock0 {
  position:absolute;
  top:15px;
  left:10px;
  background-color:transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.paypal-donate-btn {
  border-radius: 32px;
  background-color: #ffc439;
  border-color: #ffc439;
}

.mpccard-spacing {
  padding-top: 10px;
}

.mpccard-slot {
  font-style: italic;
}

.orpheus {
  font-family: orpheuspro, serif;
}

.mpc-vid {
  max-width: 32rem;
}

.card-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mpc-col {
  height: 100%;
  overflow-y: scroll;
}

.mpc-row{
  height: 100vh;
}

.embed-responsive-7by5 {
  padding-bottom: 139.6825%;
  overflow: hidden;
}

.embed-responsive-7by5 > img {
  transform: scale(1.088, 1.065);
}

#detailedView-spinner {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  width: 4em; 
  height: 4em;
}

/* .card.mpccard > .embed-responsive, .modal-body > .embed-responsive {
    overflow: hidden;
}
.card.mpccard > .embed-responsive > img, .modal-body > .embed-responsive > img {
    transform: scale(1.088, 1.065);
} */

.container.addmargin > .row > .col-lg-4 > .sticky-top.sticky-offset {
  scrollbar-width: none;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.container.addmargin > .row > .col-lg-4 > .sticky-top.sticky-offset::-webkit-scrollbar {
  display: none;
}