attrs
chardet
defusedxml
Django~=4.0
django-crispy-forms
django-elasticsearch-dsl~=7.2
django-bulk-sync
django-environ
django-user-agents
elasticsearch-dsl~=7.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Levenshtein
Markdown
oauth2client
pre-commit
psycopg2-binary
tqdm
