attrs
chardet
click==8.0.4
defusedxml
Django~=4.0
django-cors-headers
django-crispy-forms~=1.14
django-elasticsearch-dsl~=7.2
django-bulk-sync
django-environ
django-stubs-ext
django-user-agents
django-widget-tweaks
elasticsearch-dsl>=7.0.0,<8.0.0
factory-boy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Levenshtein
Markdown
oauth2client
pre-commit
psycopg2-binary
pytest-django
pytest-elasticsearch
ratelimit
selenium
syrupy
tqdm
tzdata
webdriver-manager==3.5.4
