attrs~=23.1
chardet~=5.1
click==8.0.4
defusedxml~=0.7
python-dotenv~=1.0
Django~=4.2
django-cors-headers~=3.14
django-crispy-forms~=1.14
django-elasticsearch-dsl~=7.2
django-bulk-sync~=3.3
django-environ~=0.10
django-stubs-ext~=4.2
django-user-agents~=0.4
django-widget-tweaks~=1.4
elasticsearch-dsl>=7.0.0,<8.0.0
factory-boy~=3.2
google-api-python-client~=2.86
google-auth-httplib2~=0.1
google-auth-oauthlib~=1.0
Levenshtein~=0.21
Markdown~=3.4
oauth2client~=4.1
pre-commit
psycopg2-binary~=2.9
pytest-django~=4.5
pytest-elasticsearch~=3.0
ratelimit~=2.2
requests~=2.30
selenium~=4.8
syrupy~=3.0
tqdm~=4.65
tzdata
webdriver-manager==3.5.4
