# credit: https://data-dive.com/multi-os-deployment-in-cloud-using-pyinstaller-and-github-actions
name: Desktop tool build
on:
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: desktop-tool
    strategy:
      matrix:
        include:
          - os: macos-latest
            TARGET: macos-arm
            OUT_FILE_NAME: autofill
          - os: macos-12
            TARGET: macos-intel
            OUT_FILE_NAME: autofill
          - os: windows-latest
            TARGET: windows
            OUT_FILE_NAME: autofill.exe
          - os: ubuntu-latest
            TARGET: linux
            OUT_FILE_NAME: autofill
    steps:
      - uses: actions/checkout@v3
      - uses: browser-actions/setup-chrome@latest
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Write Google Drive API credentials to file
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "client_secrets.json"
          json: ${{ secrets.GOOGLE_DRIVE_API_KEY }}
          dir: "desktop-tool/"
      - name: Build with pyinstaller for ${{ matrix.TARGET }}
        run: pyinstaller autofill.spec
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./desktop-tool/dist/${{ matrix.OUT_FILE_NAME }}
          name: autofill-${{ matrix.TARGET }}
