name: Frontend build
on:
  push:
    branches: [frontend-release]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install npm
        uses: actions/setup-node@v3
        with:
          node-version: 22.15
      - name: Install packages
        working-directory: frontend
        run: |
          npm ci
      - name: Install Playwright Browsers
        run: |
          npm install
          npx playwright install --with-deps
        working-directory: frontend
        shell: bash
      - name: Run Jest tests
        working-directory: frontend
        run: |
          npm run test
        shell: bash
      - name: Run Playwright tests
        run: |
          npm run test-e2e
        working-directory: frontend
        shell: bash
      - name: Build frontend
        working-directory: frontend
        run: |
          npx next build
        env:
          NEXT_PUBLIC_GA_MEASUREMENT_ID: ${{ secrets.NEXT_PUBLIC_GA_MEASUREMENT_ID }}
          NEXT_PUBLIC_IMAGE_BUCKET_URL: ${{ secrets.NEXT_PUBLIC_IMAGE_BUCKET_URL }}
          NEXT_PUBLIC_IMAGE_WORKER_URL: ${{ secrets.NEXT_PUBLIC_IMAGE_WORKER_URL }}
      - name: Publish frontend to GitHub Pages repo
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: "frontend/out/."
          destination_repo: "mpcautofill/mpcautofill.github.io"
          user_email: "chilli.axe@gmail.com"
          user_name: "chilli-axe"
