# credit: https://data-dive.com/multi-os-deployment-in-cloud-using-pyinstaller-and-github-actions
name: Desktop tool build
on:
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: desktop-tool
    strategy:
      matrix:
        include:
          - os: macos-latest
            TARGET: macos-arm
          - os: macos-15
            TARGET: macos-intel
          - os: windows-latest
            TARGET: windows
          - os: ubuntu-latest
            TARGET: linux
    steps:
      - uses: actions/checkout@v4
      - uses: browser-actions/setup-chrome@latest
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install imageio for Nutika .ico conversion
        run: |
          python -m pip install imageio
      - name: Write Google Drive API credentials to file
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "client_secrets.json"
          json: ${{ secrets.GOOGLE_DRIVE_API_KEY }}
          dir: "desktop-tool/"
      - name: Build with Nuitka for ${{ matrix.TARGET }}
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          working-directory: desktop-tool
          script-name: autofill.py
          mode: onefile
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.TARGET }} Build
          path: |
            desktop-tool/build/*.exe
            desktop-tool/build/*.bin
            desktop-tool/build/*.app/**/*
