name: Desktop tool tests
on:
  pull_request:
    paths:
      - "desktop-tool/**"
  workflow_dispatch:
jobs:
  test-backend:
    name: Desktop tool tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: windows-latest
          - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test-desktop-tool
        with:
          google-drive-api-key: ${{ secrets.GOOGLE_DRIVE_API_KEY }}
